@charset "UTF-8";

/********* public:extra_footer.less ********/
#post {
  width: 450px;
  height: 150px;
  height: 120px;
  background: ;
  float: left;
  padding: calc(5px);
  padding-right: 110px;
}
#sidebar {
  width: 150px;
  height: 100px;
  background: ;
  float: right;
  text-align: right;
  padding: calc(5px);
}
#quicklink {
  width: 250px;
  height: 150px;
  float: left;
  text-align: left;
  padding: calc(5px);
}
#forumpost {
  width: 300px;
  height: 150px;
  float: left;
  text-align: left;
  flex-basis: 260px;
  padding: calc(5px);
}
.p-footer-row {
  margin-bottom: -10px;
  line-height: 2;
}
.p-footer-copyright a {
  color: #ffff;
}
hr {
  border-bottom: 1px solid rgba(188, 222, 245, 0.15);
  padding-bottom: 0px;
}

/********* public:member.less ********/
.memberHeader:before,
.memberHeader:after {
  content: " ";
  display: table;
}
.memberHeader:after {
  clear: both;
}
.memberHeader-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #edf6fd;
  border-bottom: 1px solid #f7f7f7;
  border-radius: 3px 3px 0 0;
}
.memberHeader--withBanner .memberHeader-main {
  min-height: 250px;
}
.memberHeader-mainContent {
  position: relative;
}
.memberHeader-avatar {
  position: absolute;
  padding: 10px;
}
.memberHeader-content {
  padding: 10px;
  padding-left: 212px;
}
.memberHeader-actionTop {
  float: right;
}
.memberHeader-name {
  margin: 0;
  margin-top: -.15em;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  color: #2577b1;
}
.memberHeader--withBanner .memberHeader-name {
  color: white;
}
.memberHeader-nameChangeIndicator {
  color: #8c8c8c;
  font-size: 75%;
}
.memberHeader-nameChangeIndicator:hover {
  color: #8c8c8c;
}
.memberHeader--withBanner .memberHeader-nameChangeIndicator {
  color: #cccccc;
}
.memberHeader--withBanner .memberHeader-nameChangeIndicator:hover {
  color: #cccccc;
}
.memberHeader--withBanner .is-stroked {
  position: relative;
}
.memberHeader--withBanner .is-stroked:before {
  content: attr(data-stroke);
  position: absolute;
  white-space: nowrap;
  color: #000;
  -webkit-text-stroke: 2px #000000;
}
.memberHeader--withBanner .is-stroked span {
  position: relative;
}
.memberHeader--withBanner .memberHeader-nameChangeIndicator .fa-history {
  position: relative;
}
.memberHeader--withBanner .memberHeader-nameChangeIndicator .fa-history:before {
  position: relative;
  z-index: 1;
}
.memberHeader--withBanner .memberHeader-nameChangeIndicator .fa-history:after {
  position: absolute;
  left: 0;
  white-space: nowrap;
  content: "\f1da";
  -webkit-text-stroke: 2px #000000;
}
.memberHeader--withBanner .memberHeader-blurbContainer {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 6px;
  margin-top: 6px;
  text-shadow: 0 0 1px black;
}
.memberHeader--withBanner .memberHeader-blurbContainer .memberHeader-blurb:first-child {
  margin-top: 0;
}
.memberHeader--withBanner .memberHeader-blurbContainer .memberHeader-blurb .pairs dt,
.memberHeader--withBanner .memberHeader-blurbContainer .memberHeader-blurb a {
  color: #cccccc;
}
.memberHeader-banners,
.memberHeader-blurb {
  margin-top: 3px;
}
.memberHeader-separator {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #f7f7f7;
}
.memberHeader-stats {
  font-size: 17px;
}
.memberHeader-stats .pairs.pairs--row {
  min-width: 100px;
}
@media (max-width: 650px) {
  .memberHeader-avatar .avatar {
    width: 96px;
    height: 96px;
    font-size: 58px;
  }
  .memberHeader-content {
    padding-left: 116px;
  }
}
@media (max-width: 480px) {
  .memberHeader-avatar {
    display: block;
    position: static;
    float: none;
    padding-bottom: 0;
    text-align: center;
  }
  .memberHeader-avatar .avatarWrapper-update {
    font-size: 13px;
  }
  .memberHeader-content {
    padding-left: 10px;
  }
  .memberHeader-main .memberHeader-content {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    min-height: 0;
    text-align: center;
  }
  .memberHeader-name {
    text-align: center;
    margin-top: 0;
  }
  .memberHeader-actionTop {
    float: none;
    order: 2;
    margin-top: 3px;
  }
  .memberHeader-buttons {
    text-align: center;
  }
  .memberHeader-banners,
  .memberHeader-blurb {
    text-align: inherit;
  }
}
.block-tabHeader.block-tabHeader--memberTabs {
  border-bottom: none;
}
.memberOverviewBlocks {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.memberOverviewBlocks > li {
  width: 33.3%;
  max-width: 100%;
  padding: 6px 10px;
}
@media (max-width: 1150px) {
  .memberOverviewBlocks > li {
    width: 50%;
  }
}
@media (max-width: 580px) {
  .memberOverviewBlocks > li {
    width: 100%;
  }
}
.memberOverviewBlock {
  display: flex;
  flex-direction: column;
}
.memberOverviewBlock-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.memberOverviewBlock-list > li {
  margin: 6px 0;
}
.memberOverviewBlock-seeMore {
  background: #000000;
  border: 1px solid #f7f7f7;
  padding: 3px;
  text-align: center;
  margin-top: auto;
}

/********* public:notices.less ********/
.notices {
  list-style: none;
  margin: 0;
  padding: 0;
}
.notices.notices--block .notice {
  margin-bottom: 10px;
}
.notices.notices--floating {
  margin: 0 20px 0 auto;
  width: 300px;
  max-width: 100%;
  z-index: 800;
}
@media (max-width: 340px) {
  .notices.notices--floating {
    margin-right: 10px;
  }
}
.notices.notices--floating .notice {
  margin-bottom: 20px;
}
.notices.notices--scrolling {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-top-color: #f7f7f7;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
  margin-bottom: 10px;
}
.notices.notices--scrolling.notices--isMulti {
  margin-bottom: 30px;
}
.notices.notices--scrolling .notice {
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  border: none;
}
.noticeScrollContainer {
  margin-bottom: 10px;
}
.noticeScrollContainer .lSSlideWrapper {
  border-width: 1px;
  border-style: solid;
  border-top-color: #f7f7f7;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
}
.noticeScrollContainer .notices.notices--scrolling {
  border: none;
  margin-bottom: 0;
}
.notice {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-top-color: #f7f7f7;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
}
.notice:before,
.notice:after {
  content: " ";
  display: table;
}
.notice:after {
  clear: both;
}
.notice.notice--accent {
  color: #aa6709;
  background: #fff4e5;
}
.notice.notice--accent a:not(.button--notice) {
  color: #f2930d;
}
.notice.notice--dark {
  color: #fefefe;
  border: none;
  background: #141414;
}
.notice.notice--dark a:not(.button--notice) {
  color: #b4b4b4;
}
.notice.notice--light {
  color: #141414;
  background: #fefefe;
}
.notice.notice--light a:not(.button--notice) {
  color: #828282;
}
.notice.notice--enablePush {
  display: none;
}
@media (max-width: 860px) {
  .notice.notice--enablePush {
    padding: 3px 3px 10px;
    font-size: 13px;
  }
}
@media (max-width: 860px) {
  .notice.notice--cookie .notice-content {
    padding: 3px 3px 10px;
    font-size: 12px;
  }
  .notice.notice--cookie .notice-content .button--notice {
    font-size: 12px;
    padding: 3px 6px;
  }
  .notice.notice--cookie .notice-content .button--notice .button-text {
    font-size: 12px;
  }
}
.notices--block .notice {
  font-size: 15px;
  border-radius: 4px;
}
.notices--floating .notice {
  font-size: 11px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
.notices--floating .notice.notice--primary {
  background-color: rgba(237, 246, 253, 0.8);
}
.notices--floating .notice.notice--accent {
  background-color: rgba(255, 244, 229, 0.8);
}
.notices--floating .notice.notice--dark {
  background-color: rgba(20, 20, 20, 0.8);
}
.notices--floating .notice.notice--light {
  background-color: rgba(254, 254, 254, 0.8);
}
.has-js .notices--floating .notice {
  display: none;
}
.notice.notice--hasImage .notice-content {
  margin-left: 68px;
  min-height: 68px;
}
@media (max-width: 860px) {
  .notice.notice--hidewide:not(.is-vis-processed) {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 650px) {
  .notice.notice--hidemedium:not(.is-vis-processed) {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 480px) {
  .notice.notice--hidenarrow:not(.is-vis-processed) {
    display: none;
    visibility: hidden;
  }
}
.notice-image {
  float: left;
  padding: 10px 0 10px 10px;
}
.notice-image img {
  max-width: 48px;
  max-height: 48px;
}
.notice-content {
  padding: 10px;
}
.notice-content a.notice-dismiss {
  float: right;
  color: inherit;
  font-size: 16px;
  line-height: 1;
  height: 1em;
  box-sizing: content-box;
  padding: 0 0 5px 5px;
  opacity: .5;
  -webkit-transition:  opacity 0.25s ease;
  transition:  opacity 0.25s ease;
  cursor: pointer;
}
.notice-content a.notice-dismiss:before {
  font-family: 'Font Awesome 5 Pro';
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00d";
  width: 0.75em;
  display: inline-block;
  text-align: center;
}
.notice-content a.notice-dismiss:hover {
  text-decoration: none;
  opacity: 1;
}
.notices--floating .notice-content a.notice-dismiss {
  font-size: 14px;
}

/********* public:extra.less ********/
.search-header {
  width: 33.33%;
}
@media (max-width: 900px) {
  .search-header {
    width: 50%;
  }
}
.form-inline {
  width: 100%;
  float: left;
  position: relative;
  text-transform: uppercase;
  color: #ffffff;
}
.form-control {
  display: block;
  width: 100%;
  height: 45px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-inline input[type="text"] {
  -webkit-appearance: none;
}
.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.form-inline input[type="text"] {
  width: 75%;
}
.form-inline input[type="submit"] {
  width: 25%;
}
.form-inline input[type="text"] {
  float: left;
  padding: 10px 15px;
  height: 35px;
  color: #909191;
  border: none;
  text-transform: capitalize;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-inline input[type="submit"] {
  float: right;
  border: none;
  background: #e8a147;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  height: 35px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.memberHeader-content {
  color: #333;
}