@charset "UTF-8";

/********* public:EWRporta.less ********/
.porta-block-author .message-inner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.porta-block-author .message-inner:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: .7;
  z-index: 1;
}
.porta-block-author .author--wrapper {
  position: relative;
  color: #fff;
  z-index: 2;
  display: grid;
  grid-template-columns: 96px 1fr;
  grid-column-gap: 15px;
  align-items: center;
  padding: 10px;
}
.porta-block-author .author--name .username {
  font-weight: bold;
  font-size: 17px;
}
.porta-block-author .author--name .username a {
  color: #fff;
}
.porta-block-author .author--name > *:not(:first-child) {
  font-size: 13px;
  margin-top: 10px;
}
.porta-block-author .author--name > *:not(:first-child):last-child {
  margin-top: 10px;
  font-style: italic;
  opacity: 0.75;
}
.porta-listInline-left {
  float: left;
}
.porta-listInline-right {
  float: right;
}
.porta-category-form li {
  display: inline-flex;
  min-width: 240px;
}
.p-body-header:has(+ .p-body-main--withSidebar) .porta-listInline-right {
  margin-right: calc(306px + 10px);
}
.porta-block-hide {
  text-align: center;
}
.porta-block-hide + .porta-block-show {
  display: none;
}
.porta-widgets-split {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(306px, 1fr));
  grid-column-gap: 10px;
}
@media (max-width: 860px) {
  .porta-listInline-right {
    margin-right: 0;
  }
}

/********* public:EWRporta_articles.less ********/
html {
  --figure-width: 120px;
  --figure-height: 102px;
  --figure-avatar: 96px;
  --figure-avatar-font-size: 40px;
  --font-size: 15px;
}
html .p-body-sidebar {
  --figure-width: 76px;
  --figure-height: 66px;
  --font-size: 14px;
  --figure-avatar: 48px;
  --figure-avatar-font-size: 30px;
}
@media (min-width: 650px) {
  html {
    --figure-width: 240px;
    --figure-height: 130px;
    --font-size: 18px;
  }
}
.v-grid {
  display: grid;
  grid-template-columns: var(--figure-width) 1fr;
  grid-column-gap: 10px;
}
.v-grid:hover {
  text-decoration: none;
}
.--figure .---thumb {
  line-height: 0;
}
.--figure .---thumb img {
  opacity: 0;
}
.--figure .---avatar {
  background: #22c1c3;
  background: linear-gradient(0deg, #22c1c3 0%, #fdbb2d 100%);
}
.--figure .---avatar .avatar {
  width: var(--figure-avatar);
  height: var(--figure-avatar);
  font-size: var(--figure-avatar-font-size);
}
.--figure .---thumb,
.--figure .---avatar {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--figure-height);
  border: 1px solid #00000021;
  border-radius: 4px;
}
.--main .bbWrapper {
  color: #d3d3d3d1;
}
.p-body-sidebar .--main .bbWrapper {
  display: none;
}
.p-body-sidebar .--main .---meta li:nth-child(2),
.p-body-sidebar .--main .---meta li:nth-child(3) {
  display: none;
}
.--main .---title {
  font-size: var(--font-size);
}
.--main h3,
.--main h5,
.--main p,
.--main .bbWrapper {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.--main > *:not(:last-child) {
  margin-bottom: 3px;
}
.porta-loading {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  height: var(--figure-height);
  position: relative;
  overflow: hidden;
}
.porta-loading .--background-masker {
  background: #fff;
  position: absolute;
}
.porta-loading .--space-cover {
  width: 10px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: var(--figure-width);
}
.porta-loading .--fake-title,
.porta-loading .--fake-author,
.porta-loading .--fake-meta {
  height: 10px;
  right: 0;
  left: var(--figure-width);
}
.porta-loading .--fake-title {
  top: 30px;
}
.porta-loading .--fake-author {
  top: 70px;
}
.porta-loading .--fake-meta {
  top: 100px;
  height: 100%;
  bottom: 0;
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@media (max-width: 650px) {
  .--main .---meta li:nth-child(2) {
    display: none;
  }
}
.porta-article-loader {
  display: none;
  text-align: center;
}
.porta-article-loader .porta-article-button {
  width: 100%;
  max-width: 320px;
}
.porta-article-status {
  display: none;
}
.porta-articles-widget:not(.block-container) .block-minorHeader,
.porta-articles-widget:not(.block-container) .block-row {
  padding-left: 0;
  padding-right: 0;
}

/********* public:extra_footer.less ********/
#post {
  width: 450px;
  height: 150px;
  height: 120px;
  background: ;
  float: left;
  padding: calc(5px);
  padding-right: 110px;
}
#sidebar {
  width: 150px;
  height: 100px;
  background: ;
  float: right;
  text-align: right;
  padding: calc(5px);
}
#quicklink {
  width: 250px;
  height: 150px;
  float: left;
  text-align: left;
  padding: calc(5px);
}
#forumpost {
  width: 300px;
  height: 150px;
  float: left;
  text-align: left;
  flex-basis: 260px;
  padding: calc(5px);
}
.p-footer-row {
  margin-bottom: -10px;
  line-height: 2;
}
.p-footer-copyright a {
  color: #ffff;
}
hr {
  border-bottom: 1px solid rgba(188, 222, 245, 0.15);
  padding-bottom: 0px;
}

/********* public:notices.less ********/
.notices {
  list-style: none;
  margin: 0;
  padding: 0;
}
.notices.notices--block .notice {
  margin-bottom: 10px;
}
.notices.notices--floating {
  margin: 0 20px 0 auto;
  width: 300px;
  max-width: 100%;
  z-index: 800;
}
@media (max-width: 340px) {
  .notices.notices--floating {
    margin-right: 10px;
  }
}
.notices.notices--floating .notice {
  margin-bottom: 20px;
}
.notices.notices--scrolling {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-top-color: #f7f7f7;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
  margin-bottom: 10px;
}
.notices.notices--scrolling.notices--isMulti {
  margin-bottom: 30px;
}
.notices.notices--scrolling .notice {
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  border: none;
}
.noticeScrollContainer {
  margin-bottom: 10px;
}
.noticeScrollContainer .lSSlideWrapper {
  border-width: 1px;
  border-style: solid;
  border-top-color: #f7f7f7;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
}
.noticeScrollContainer .notices.notices--scrolling {
  border: none;
  margin-bottom: 0;
}
.notice {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-top-color: #f7f7f7;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
}
.notice:before,
.notice:after {
  content: " ";
  display: table;
}
.notice:after {
  clear: both;
}
.notice.notice--accent {
  color: #aa6709;
  background: #fff4e5;
}
.notice.notice--accent a:not(.button--notice) {
  color: #f2930d;
}
.notice.notice--dark {
  color: #fefefe;
  border: none;
  background: #141414;
}
.notice.notice--dark a:not(.button--notice) {
  color: #b4b4b4;
}
.notice.notice--light {
  color: #141414;
  background: #fefefe;
}
.notice.notice--light a:not(.button--notice) {
  color: #828282;
}
.notice.notice--enablePush {
  display: none;
}
@media (max-width: 860px) {
  .notice.notice--enablePush {
    padding: 3px 3px 10px;
    font-size: 13px;
  }
}
@media (max-width: 860px) {
  .notice.notice--cookie .notice-content {
    padding: 3px 3px 10px;
    font-size: 12px;
  }
  .notice.notice--cookie .notice-content .button--notice {
    font-size: 12px;
    padding: 3px 6px;
  }
  .notice.notice--cookie .notice-content .button--notice .button-text {
    font-size: 12px;
  }
}
.notices--block .notice {
  font-size: 15px;
  border-radius: 4px;
}
.notices--floating .notice {
  font-size: 11px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
.notices--floating .notice.notice--primary {
  background-color: rgba(237, 246, 253, 0.8);
}
.notices--floating .notice.notice--accent {
  background-color: rgba(255, 244, 229, 0.8);
}
.notices--floating .notice.notice--dark {
  background-color: rgba(20, 20, 20, 0.8);
}
.notices--floating .notice.notice--light {
  background-color: rgba(254, 254, 254, 0.8);
}
.has-js .notices--floating .notice {
  display: none;
}
.notice.notice--hasImage .notice-content {
  margin-left: 68px;
  min-height: 68px;
}
@media (max-width: 860px) {
  .notice.notice--hidewide:not(.is-vis-processed) {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 650px) {
  .notice.notice--hidemedium:not(.is-vis-processed) {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 480px) {
  .notice.notice--hidenarrow:not(.is-vis-processed) {
    display: none;
    visibility: hidden;
  }
}
.notice-image {
  float: left;
  padding: 10px 0 10px 10px;
}
.notice-image img {
  max-width: 48px;
  max-height: 48px;
}
.notice-content {
  padding: 10px;
}
.notice-content a.notice-dismiss {
  float: right;
  color: inherit;
  font-size: 16px;
  line-height: 1;
  height: 1em;
  box-sizing: content-box;
  padding: 0 0 5px 5px;
  opacity: .5;
  -webkit-transition:  opacity 0.25s ease;
  transition:  opacity 0.25s ease;
  cursor: pointer;
}
.notice-content a.notice-dismiss:before {
  font-family: 'Font Awesome 5 Pro';
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00d";
  width: 0.75em;
  display: inline-block;
  text-align: center;
}
.notice-content a.notice-dismiss:hover {
  text-decoration: none;
  opacity: 1;
}
.notices--floating .notice-content a.notice-dismiss {
  font-size: 14px;
}

/********* public:extra.less ********/
.search-header {
  width: 33.33%;
}
@media (max-width: 900px) {
  .search-header {
    width: 50%;
  }
}
.form-inline {
  width: 100%;
  float: left;
  position: relative;
  text-transform: uppercase;
  color: #ffffff;
}
.form-control {
  display: block;
  width: 100%;
  height: 45px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-inline input[type="text"] {
  -webkit-appearance: none;
}
.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.form-inline input[type="text"] {
  width: 75%;
}
.form-inline input[type="submit"] {
  width: 25%;
}
.form-inline input[type="text"] {
  float: left;
  padding: 10px 15px;
  height: 35px;
  color: #909191;
  border: none;
  text-transform: capitalize;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-inline input[type="submit"] {
  float: right;
  border: none;
  background: #e8a147;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  height: 35px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.memberHeader-content {
  color: #333;
}